doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Pharmalogy - Login
		meta(http-equiv='Content-Security-Policy' content="script-src 'self' 'unsafe-inline';")

		//- App css
		link(href='../../../assets/vendors/css/bootstrap.min.css' rel='stylesheet' type='text/css')
		link(href='../../../assets/vendors/css/app.min.css' rel='stylesheet' type='text/css')

		//- icons
		link(href='../../../assets/vendors/css/icons.min.css' rel='stylesheet' type='text/css')

	body.authentication-bg
		.account-pages.mt-5.mb-5
			.container
				.row.justify-content-center
					.col-md-8.col-lg-6.col-xl-5
						.card.bg-pattern
							.card-body.p-4
								.text-center.w-75.m-auto
									.auth-logo
										a.logo.logo-dark.text-center
											span.logo-lg
												img(src='../../../assets/img/logo.png' alt='' height='100')
									p.text-muted.mb-4.mt-3 Enter your email address and password to access admin panel.
								form(action='#')
									.form-group.mb-3
										label(for='emailaddress') Email address
										input#emailaddress.form-control(type='email' required='' placeholder='Enter your email')
									.form-group.mb-3
										label(for='password') Password
										.input-group.input-group-merge
											input#password.form-control(type='password' placeholder='Enter your password')
											.input-group-append(data-password='false')
												.input-group-text
													span.password-eye
									.form-group.mb-3
										.custom-control.custom-checkbox
											input#checkbox-signin.custom-control-input(type='checkbox' checked='')
											label.custom-control-label(for='checkbox-signin') Remember me
									.form-group.mb-0.text-center
										button.btn.btn-primary.btn-block(type='submit')  Log In 
						
						.row.mt-3
							.col-12.text-center
								p
									a.text-white-50.ml-1(href='recoverypassword.pug') Forgot your password?
								p.text-white-50
									| Don't have an account? 
									a.text-white.ml-1(href='register.pug')
										b Sign Up

		footer.footer.footer-alt
			script.
				document.write(new Date().getFullYear())
			|  © Pharmalogy

		//- Jquery
		script(src='../../../assets/vendors/js/jquery.min.js')
		//- Vendor js
		script(src='../../../assets/vendors/js/vendor.min.js')
		//- App js
		script(src='../../../assets/vendors/js/app.min.js')
