doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Pharmalogy - Register
		meta(name='viewport' content='width=device-width, initial-scale=1.0')

		//- App css
		link(href='../../../assets/vendors/css/bootstrap.min.css' rel='stylesheet' type='text/css')
		link(href='../../../assets/vendors/css/app.min.css' rel='stylesheet' type='text/css')

		//- icons
		link(href='../../../assets/vendors/css/icons.min.css' rel='stylesheet' type='text/css')

	body.authentication-bg
		.account-pages.mt-5.mb-5
			.container
				.row.justify-content-center
					.col-md-8.col-lg-6.col-xl-5
						.card.bg-pattern
							.card-body.p-4
								.text-center.w-75.m-auto
									.auth-logo
										a.logo.logo-dark.text-center
											span.logo-lg
												img(src='../../../assets/img/logo.png' alt='' height='100')
									p.text-muted.mb-4.mt-3 Don't have an account? Create your account, it takes less than a minute
								form#register-form
									.form-group
										label(for='fullname') Full Name
										input#fullname.form-control(type='text' placeholder='Enter your name' required='')
									.form-group
										label(for='emailaddress') Email address
										input#emailaddress.form-control(type='email' required='' placeholder='Enter your email')
									.form-group
										label(for='password') Password
										.input-group.input-group-merge
											input#password.form-control(type='password' placeholder='Enter your password')
											.input-group-append(data-password='false')
												.input-group-text
													span.password-eye
									.form-group
										.custom-control.custom-checkbox
											input#checkbox-signup.custom-control-input(type='checkbox')
											label.custom-control-label(for='checkbox-signup')
												| I accept 
												a.text-dark(href='#') Terms and Conditions
									.form-group.mb-0.text-center
										button.btn.btn-success.btn-block(type='submit')  Sign Up
						
						.row.mt-3
							.col-12.text-center
								p.text-white-50
									| Already have account?  
									a.text-white.ml-1(href='login.pug')
										b Sign In
		
		footer.footer.footer-alt
			script.
				document.write(new Date().getFullYear())
			|  © Pharmalogy

		//- Jquery
		script(src='../../../assets/vendors/js/jquery.min.js')
		//- Vendor js
		script(src='../../../assets/vendors/js/vendor.min.js')
		//- App js
		script(src='../../../assets/vendors/js/app.min.js')
