extends layouts/master.pug

block styles
	link(href='../../assets/vendors/css/summernote-bs4.min.css' rel='stylesheet' type='text/css')
	link(href='../../assets/vendors/css/select2.min.css' rel='stylesheet' type='text/css')
	link(href='../../assets/vendors/css/dropzone.min.css' rel='stylesheet' type='text/css')
	

block content
	.content
		//-- Start Content
		.container-fluid
			//-- start page title
			.row
				.col-12
					.page-title-box
						h4.page-title Add Medicine
			//- end page title
			form#add-medicne-form
				.row
					.col-lg-12
						.card-box
							h5.text-uppercase.bg-light.p-2.mt-0.mb-3 General
							.form-group.mb-3
								label(for='product-category')
									| Medicine
									span.text-danger *
								select#medicine-name.form-control.select2(name='medicine')
									option(value='0') Select Medicine
							.form-group.mb-3
								label(for='product-name')
									| Quantity 
									span.text-danger *
								input#medicine-quantity.form-control(type='number', value='1', name='quantity')
							.form-group.mb-3
								label(for='product-category')
									| Provider
									span.text-danger *
								select#medicine-provider.form-control.select2(name='provider')
									option(value='0') Select Provider
							.form-group.mb-3
								label(for='product-name')
									| Exp Date
									span.text-danger *
								input#medicine-exp-date.form-control(type='date', name='exp_date')

				.row
					.col-12
						.text-center.mb-3
							button.btn.w-sm.btn-light.waves-effect(type='button') Cancel
							button.btn.w-sm.btn-success.waves-effect.waves-light(type='submit') Save
							//- button.btn.w-sm.btn-danger.waves-effect.waves-light(type='button') Delete
							
	#success-alert-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
		.modal-dialog.modal-sm
			.modal-content.modal-filled.bg-success
				.modal-body.p-4
					.text-center
						i.dripicons-checkmark.h1.text-white
						h4.mt-2.text-white Well Done!
						p.mt-3.text-white
							| Medicine has been added successfully
						button.btn.btn-light.my-2(type='button' data-dismiss='modal') OK


block scripts
	script(src='../../assets/vendors/js/summernote-bs4.min.js')
	script(src='../../assets/vendors/js/select2.min.js')
	script(src='../../assets/vendors/js/dropzone.min.js')

	script(src='../../assets/vendors/js/pages/form-fileuploads.init.js')
	script(src='../../assets/vendors/js/pages/add-product.init.js')

	script(src='../../app/controllers/addMedicineController.js')
