extends layouts/master.pug

block content
	.content
		//- Start Content
		.container-fluid
			//- start page title
			.row
				.col-12
					.page-title-box
						.page-title-right
						h4.page-title Make order
			//- end page title
			.row
				.col-12
					.card
						.card-body
							.row
								.col-lg-12
									.table-responsive
										table.table.table-borderless.table-centered.mb-0
											thead.thead-light
												tr
													th Medicine
													th Quantity
													th Total
													th(style='width: 50px;')
											tbody#cart

									.row.mt-3
										.col-sm-7
											label(for='example-textarea') Medicine:
											select#medicine.form-control
												option Select medicine
												
										.col-sm-3
											label(for='example-textarea') Quantity:
											input#quantity.form-control(type='number' min='1' value='1' placeholder='Qty')
										.col-sm-2
											button#add-btn.btn.btn-danger(type='button', style='margin-top:30px;width:99%')
												i.mdi.mdi-plus.mr-1
												| Add

							.row.mt-4
								//- end col
								.col-sm-12
									.text-sm-right
										button#validate-btn.btn.btn-success(type='button')
											i.mdi.mdi-cart-plus.mr-1
											|  Validate
											
	#success-alert-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
		.modal-dialog.modal-sm
			.modal-content.modal-filled.bg-success
				.modal-body.p-4
					.text-center
						i.dripicons-checkmark.h1.text-white
						h4.mt-2.text-white Well Done!
						p.mt-3.text-white
							| Sale has been saved successfully
						button.btn.btn-light.my-2(type='button' data-dismiss='modal') OK
	
block scripts
	script(src='../../app/controllers/addOrderController.js')
