extends layouts/master.pug

block styles
	link(href='../../assets/vendors/css/flatpickr.min.css' rel='stylesheet' type='text/css')
	link(href='../../assets/vendors/css/selectize.bootstrap3.css' rel='stylesheet' type='text/css')


block content
	.content
		//- Start Content
		.container-fluid
			//- start page title
			.row
				.col-12
					.page-title-box
						.page-title-right
							form.form-inline
								.form-group
									.input-group.input-group-sm
										input#dash-daterange.form-control.border(type='text')
										.input-group-append
											span.input-group-text.bg-blue.border-blue.text-white
												i.mdi.mdi-calendar-range
								a.btn.btn-blue.btn-sm.ml-2(href='#')
									i.mdi.mdi-autorenew
								a.btn.btn-blue.btn-sm.ml-1(href='#')
									i.mdi.mdi-filter-variant
						h4.page-title Dashboard

			//- end page title
			.row
				.col-md-4
					.widget-rounded-circle.card-box
						.row
							.col-6
								.avatar-lg.rounded-circle.bg-soft-success.border-success.border
									i.fe-shopping-cart.font-22.avatar-title.text-success
							.col-6
								.text-right
									h3.text-dark.mt-1
										span#today-sales(data-plugin='counterup') 0
									p.text-muted.mb-1.text-truncate Today's Sales

				.col-md-4
					.widget-rounded-circle.card-box
						.row
							.col-6
								.avatar-lg.rounded-circle.bg-soft-info.border-info.border
									i.fe-truck.font-22.avatar-title.text-info
							.col-6
								.text-right
									h3.text-dark.mt-1
										span(data-plugin='counterup') 0
									p.text-muted.mb-1.text-truncate Waiting orders

				.col-md-4
					.widget-rounded-circle.card-box
						.row
							.col-6
								.avatar-lg.rounded-circle.bg-soft-warning.border-warning.border
									i.fe-dollar-sign.font-22.avatar-title.text-warning
							.col-6
								.text-right
									h3.text-dark.mt-1
										span(data-plugin='counterup') 8520
										| Dh
									p.text-muted.mb-1.text-truncate Week's sold 

			.row
				.col-lg-4
					.card-box
						.dropdown.float-right
							a.dropdown-toggle.arrow-none.card-drop(href='#' data-toggle='dropdown' aria-expanded='false')
								i.mdi.mdi-dots-vertical
							.dropdown-menu.dropdown-menu-right
								//- item
								a.dropdown-item(href='#') Sales Report
								//- item
								a.dropdown-item(href='#') Export Report
								//- item
								a.dropdown-item(href='#') Profit
								//- item
								a.dropdown-item(href='#') Action
						h4.header-title.mb-0 Total Revenue
						.widget-chart.text-center(dir='ltr')
							#total-revenue.mt-0(data-colors='#f1556c')
							h5.text-muted.mt-0 Total sales made today
							h2#total-r 2043 Dh
							p.text-muted.w-75.mx-auto.sp-line-2
								| Revenue analytics
							.row.mt-3
								.col-6
									p.text-muted.font-15.mb-1.text-truncate Last week
									h4
										i.fe-arrow-up.text-success.mr-1
										| 5000 Dh
								.col-6
									p.text-muted.font-15.mb-1.text-truncate Last Month
									h4
										i.fe-arrow-down.text-danger.mr-1
										| 10500 Dh
				//- end card-box
				//- end col
				.col-lg-8
					.card-box.pb-2
						.float-right.d-none.d-md-inline-block
							.btn-group.mb-2
								button.btn.btn-xs.btn-light(type='button') Today
								button.btn.btn-xs.btn-light(type='button') Weekly
								button.btn.btn-xs.btn-secondary(type='button') Monthly
						h4.header-title.mb-3 Sales Analytics
						div(dir='ltr')
							#sales-analytics.mt-4(data-colors='#1abc9c,#4a81d4')

			.row
				.col-xl-6
					.card-box
						.dropdown.float-right
							a.dropdown-toggle.arrow-none.card-drop(href='#' data-toggle='dropdown' aria-expanded='false')
								i.mdi.mdi-dots-vertical
							.dropdown-menu.dropdown-menu-right
								//- item
								a.dropdown-item(href='#') Edit Report
								//- item
								a.dropdown-item(href='#') Export Report
								//- item
								a.dropdown-item(href='#') Action
						h4.header-title.mb-3 Sales History
						table#datatable-history.table.table-borderless.table-hover.table-nowrap.table-centered.m-0(style="width:99%")
							thead.thead-light
								tr
									th Medicine
									th Quantity
									th Price
									th Date
							tbody
									
				//- end col
				.col-xl-6
					.card-box
						.dropdown.float-right
							a.dropdown-toggle.arrow-none.card-drop(href='#' data-toggle='dropdown' aria-expanded='false')
								i.mdi.mdi-dots-vertical
							.dropdown-menu.dropdown-menu-right
								//- item
								a.dropdown-item(href='#') Edit Report
								//- item
								a.dropdown-item(href='#') Export Report
								//- item
								a.dropdown-item(href='#') Action
						h4.header-title.mb-3 Last orders
						.table-responsive
							table.table.table-borderless.table-nowrap.table-hover.table-centered.m-0
								thead.thead-light
									tr
										th Provider
										th Date
										th Payouts
										th Status
										th Action
								tbody
									tr
										td
											h5.m-0.font-weight-normal HidalMedical
										td
											| Oct 15, 2020
										td
											| 5848.65 Dh
										td
											span.badge.bg-soft-warning.text-warning Upcoming
										td
											a.btn.btn-xs.btn-light(href='#')
												i.mdi.mdi-pencil
									tr
										td
											h5.m-0.font-weight-normal MediMaroc
										td
											| Oct 12, 2020
										td
											| 1247.25 Dh
										td
											span.badge.bg-soft-success.text-success Paid
										td
											a.btn.btn-xs.btn-light(href='#')
												i.mdi.mdi-pencil
									tr
										td
											h5.m-0.font-weight-normal DhasMaroc
										td
											| Oct 10, 2020
										td
											| 815.89 Dh
										td
											span.badge.bg-soft-success.text-success Paid
										td
											a.btn.btn-xs.btn-light(href='#')
												i.mdi.mdi-pencil
									tr
										td
											h5.m-0.font-weight-normal HidalMedical
										td
											| Oct 03, 2020
										td
											| 248.75 Dh
										td
											span.badge.bg-soft-danger.text-danger Overdue
										td
											a.btn.btn-xs.btn-light(href='#')
												i.mdi.mdi-pencil
									tr
										td
											h5.m-0.font-weight-normal HidalMedical
										td
											| Sep 21, 2020
										td
											| 978.21 Dh
										td
											span.badge.bg-soft-warning.text-warning Upcoming
										td
											a.btn.btn-xs.btn-light(href='#')
												i.mdi.mdi-pencil
									tr
										td
											h5.m-0.font-weight-normal HidalMedical
										td
											| Sep 15, 2020
										td
											| 358.10 Dh
										td
											span.badge.bg-soft-success.text-success Paid
										td
											a.btn.btn-xs.btn-light(href='#')
												i.mdi.mdi-pencil


block scripts
	script(src='../../assets/vendors/js/flatpickr.min.js')
	script(src='../../assets/vendors/js/apexcharts.min.js')
	script(src='../../assets/vendors/js/selectize.min.js')
	
	script(src='../../assets/vendors/js/jquery.dataTables.min.js')
	script(src='../../assets/vendors/js/dataTables.bootstrap4.min.js')
	script(src='../../assets/vendors/js/dataTables.buttons.min.js')
	
	//- Dashboar init js
	script(src='../../assets/vendors/js/pages/dashboard.init.js')
	//- Dashboard controller
	script(src='../../app/controllers/dashboardController.js')
