extends layouts/master.pug

block styles
	link(href='../../assets/vendors/css/dataTables.bootstrap.min.css' rel='stylesheet' type='text/css')
	link(href='../../assets/vendors/css/responsive.bootstrap.min.css' rel='stylesheet' type='text/css')
	link(href='../../assets/vendors/css/buttons.bootstrap.min.css' rel='stylesheet' type='text/css')
	link(href='../../assets/vendors/css/select.bootstrap.min.css' rel='stylesheet' type='text/css')
	

block content
	.content
		//- Start Content
		.container-fluid
			//- start page title
			.row
				.col-12
					.page-title-box
						h4.page-title Orders
			//- end page title
			.row
				.col-12
					.card
						.card-body
							.row.mb-2
								.col-sm-4
									a.btn.btn-danger.waves-effect.waves-light(href='addOrder.pug')
										i.mdi.mdi-plus-circle.mr-1
										|  New order
								.col-sm-8
									.text-sm-right
										button.btn.btn-success.mb-2.mr-1(type='button')
											i.mdi.mdi-cog
										button.btn.btn-light.mb-2.mr-1(type='button') Import
										button.btn.btn-light.mb-2(type='button') Export
								//- end col
							.table-responsive
								table#datatable-orders.table.table-borderless.table-nowrap.dt-responsive.nowrap.w-100
									thead.thead-light
										tr
											th Provider
											th Date
											th Price
											th Status
											th(style='width: 85px;') Action
									tbody
										tr
											td
												h5.m-0.font-weight-normal HidalMedical
											td
												| Oct 15, 2020
											td
												| 5848.65 Dh
											td
												span.badge.bg-soft-warning.text-warning Upcoming
											td
												a.btn.btn-xs.btn-light(href='#')
													i.mdi.mdi-pencil
										tr
											td
												h5.m-0.font-weight-normal MediMaroc
											td
												| Oct 12, 2020
											td
												| 1247.25 Dh
											td
												span.badge.bg-soft-success.text-success Paid
											td
												a.btn.btn-xs.btn-light(href='#')
													i.mdi.mdi-pencil
										tr
											td
												h5.m-0.font-weight-normal DhasMaroc
											td
												| Oct 10, 2020
											td
												| 815.89 Dh
											td
												span.badge.bg-soft-success.text-success Paid
											td
												a.btn.btn-xs.btn-light(href='#')
													i.mdi.mdi-pencil
										tr
											td
												h5.m-0.font-weight-normal HidalMedical
											td
												| Oct 03, 2020
											td
												| 248.75 Dh
											td
												span.badge.bg-soft-danger.text-danger Overdue
											td
												a.btn.btn-xs.btn-light(href='#')
													i.mdi.mdi-pencil
										tr
											td
												h5.m-0.font-weight-normal HidalMedical
											td
												| Sep 21, 2020
											td
												| 978.21 Dh
											td
												span.badge.bg-soft-warning.text-warning Upcoming
											td
												a.btn.btn-xs.btn-light(href='#')
													i.mdi.mdi-pencil
										tr
											td
												h5.m-0.font-weight-normal HidalMedical
											td
												| Sep 15, 2020
											td
												| 358.10 Dh
											td
												span.badge.bg-soft-success.text-success Paid
											td
												a.btn.btn-xs.btn-light(href='#')
													i.mdi.mdi-pencil
block scripts
	script(src='../../assets/vendors/js/jquery.dataTables.min.js')
	script(src='../../assets/vendors/js/dataTables.bootstrap4.min.js')
	script(src='../../assets/vendors/js/dataTables.buttons.min.js')

	script.
		require('../../app/controllers/medecinesController.js')
