extends layouts/master.pug

block styles
	link(href='../../assets/vendors/css/dataTables.bootstrap.min.css' rel='stylesheet' type='text/css')
	link(href='../../assets/vendors/css/responsive.bootstrap.min.css' rel='stylesheet' type='text/css')
	link(href='../../assets/vendors/css/buttons.bootstrap.min.css' rel='stylesheet' type='text/css')
	link(href='../../assets/vendors/css/select.bootstrap.min.css' rel='stylesheet' type='text/css')
	

block content
	.content
		//- Start Content
		.container-fluid
			//- start page title
			.row
				.col-12
					.page-title-box
						h4.page-title Orders
			//- end page title
			.row
				.col-12
					.card
						.card-body
							.row.mb-2
								.col-sm-4
									a.btn.btn-danger.waves-effect.waves-light(href='addMedecine.pug')
										i.mdi.mdi-plus-circle.mr-1
										|  Add Medecine
								.col-sm-8
									.text-sm-right
										button.btn.btn-success.mb-2.mr-1(type='button')
											i.mdi.mdi-cog
										button.btn.btn-light.mb-2.mr-1(type='button') Import
										button.btn.btn-light.mb-2(type='button') Export
								//- end col
							.table-responsive
								table#datatable-medecines.table.table-striped.dt-responsive.nowrap.w-100
									thead
										tr
											th Name
											th Laboratory
											th Quantity
											th Price
											th(style='width: 85px;') Action
									tbody
block scripts
	script(src='../../assets/vendors/js/jquery.dataTables.min.js')
	script(src='../../assets/vendors/js/dataTables.bootstrap4.min.js')
	script(src='../../assets/vendors/js/dataTables.buttons.min.js')

	script.
		require('../../app/controllers/medecinesController.js')